﻿@model  IEnumerable<ServerControlWeb.Controllers.GrafikDeger>
<html>
<head>
    <script src="~/Scripts/Chart.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/Content/myStill.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <meta http-equiv="refresh" content="10">
</head>
 <body>
     @Html.Partial("~/Views/PartialGrafik.cshtml",Model)
</body>
</html>