﻿@model IEnumerable<ServerControlWeb.ServiceReference1.TableServer>

@{
    ViewBag.Title = "Anasayfa";
}

<h2>Sunucular</h2>

<p data-toggle="collapse" data-target="#ackapa"> Yeni Sunucu eklemek için tıklayınız...</p>
<form id="ackapa" class="collapse" action=@Url.Action("Servers", "ServerControl") method="post">
    <input type="text" id="yenisunucu" name="yenisunucu" placeholder="Sunucu Adı..." style="border-radius:5px"/>
    <input type="submit" value="Kaydet" style="border-radius:5px">
</form>

<table class="table table-responsive">
    <tr>
        <th class="col-lg-4">
            @Html.DisplayName("Sunucu ID")
        </th>
        <th class="col-lg-4">
            @Html.DisplayName("Sunucu Adı")
        </th>
        <th>
            @Html.DisplayName("Detaylar için tıklayınız")            
        </th>
    </tr>
     
@foreach (var item in Model) {
    <tr>
        <td class="col-lg-4">
            @Html.DisplayFor(modelItem => item.ServerId)
        </td>
        <td class="col-lg-4">
            @Html.DisplayFor(modelItem => item.ServerName)
        </td>
        <td class="col-lg-4">
            <form method="get" action=@Url.Action("ServerResults", "ServerControl")>
                <input type="text" id="str" name="str" value="@item.ServerName" readonly style="border-radius:5px" />
                <input type="submit" value="Tıklayınız..." style="border-radius:5px" />
            </form>
        </td>
    </tr>
}

</table>
