﻿@model ServerControlWeb.Controllers.Servertablo

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Id")
        </th>
        <th>
            @Html.DisplayName("Ad")
        </th>
        <th>
            @Html.DisplayName("Tip")
        </th>
        <th>
            @Html.DisplayName("Toplam Alan")
        </th>
        <th>
            @Html.DisplayName("Kullanılabilir Alan")
        </th>
        <th>
            @Html.DisplayName("Tarih")
        </th>
        <th>
            @Html.DisplayName("Sunucu")
        </th>
    </tr>
@for (int i = 0; i < Model.drive.Count(); ++i)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.drive[i].DrıveId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.drive[i].DriveName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.drive[i].DriveType)
            </td>
            <td>
                @{ 
                    string str = convert(Model.drive[i].DriveTotalSize);
                }
                @Html.DisplayName(str)
            </td>
            <td>
                @{
                    str = "";
                    str = convert(Model.drive[i].DriveAvailableSize);
                }
                @Html.DisplayName(str)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.drive[i].DriveDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.drive[i].DriveServerName)
            </td>
        </tr>
    }
</table>

@{ 
    string convert(long? temp)
    {
        string str;
        float gecici = new float();
        gecici = (float)temp / 1024;
        if (gecici > 1024)
        {
            gecici = gecici / 1024;
            if(gecici > 1024)
            {
                gecici = gecici / 1024;
                str = gecici.ToString("n2") + " GB";
                return str;
            }
            else
            {
                str = gecici.ToString("n2") + " MB";
                return str;
            }
        }
        else
        {
            str = gecici.ToString("n2") + " KB";
            return str;
        }
    }
}
