﻿@model ServerControlWeb.Controllers.Servertablo

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Id")
        </th>
        <th>
            @Html.DisplayName("Kul. Alan(GB)")
        </th>
        <th>
            @Html.DisplayName("Tarih")
        </th>
        <th>
            @Html.DisplayName("Sunucu")
        </th>
    </tr>

        @for (int i= 0; i < Model.ram.Count(); ++i)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.ram[i].RamId)
            </td>
            <td>
                @{ 
                    double dbl = (double)(Model.ram[i].RamAvailableSpace / 1024);
                    string str = dbl.ToString("n2");
                }
                @Html.DisplayName(str)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.ram[i].RamDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.ram[i].RamServerName)
            </td>
        </tr>
        }
</table>
