﻿@model IEnumerable<ServerControlWeb.Controllers.GrafikDeger>

@{
int m = 0;
foreach (var item in Model)
{
    <div class="yanyana">
        <h1> @item.Server_name[m].ToString() </h1>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <h3 style="text-align:center">RAM Grafiği</h3>
            <canvas id="ram_@item.Server_name[m]" ></canvas>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <h3 style="text-align:center">CPU Grafiği</h3>
            <canvas id="cpu_@item.Server_name[m]"></canvas>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <h3 style="text-align:center">Disk Grafiği</h3>
            <canvas id="drive_@item.Server_name[m]"></canvas>
        </div>
    </div>
<script>
    var ram = "ram_@item.Server_name[m]";
    new Chart(document.getElementById(ram), {
        type: 'line',
        data: {
            labels: [@item.Ram_x[0 +(m*5)], @item.Ram_x[1 + (m * 5)], @item.Ram_x[2 + (m * 5)], @item.Ram_x[3 + (m * 5)], @item.Ram_x[4 + (m * 5)]],
            datasets: [
                {
                label: "Kullanılabilir Alan  (MB)",
                    backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
                    data: [@item.Ram_y[0 + (m * 5)], @item.Ram_y[1 + (m * 5)], @item.Ram_y[2 + (m * 5)], @item.Ram_y[3 + (m * 5)], @item.Ram_y[4 + (m * 5)]]
                }
            ]
        },
        options: {
            legend: { display: false },
            title: {
                display: true,
                text: 'Son 5 ölçümde sağlanan kullanılabilir Ram Alanları'
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>
<script>
    var cpu = "cpu_@item.Server_name[m]";
    new Chart(document.getElementById(cpu), {
        type: 'line',
        data: {
            labels: [@item.Cpu_x[0 + (m * 5)], @item.Cpu_x[1 + (m * 5)], @item.Cpu_x[2 + (m * 5)], @item.Cpu_x[3 + (m * 5)], @item.Cpu_x[4 + (m * 5)]],
            datasets: [
                {
                label: "CPU Kullanımı  (%)",
                    backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
                    data: [@item.Cpu_y[0 + (m * 5)],@item.Cpu_y[1 + (m * 5)], @item.Cpu_y[2 + (m * 5)], @item.Cpu_y[3 + (m * 5)], @item.Cpu_y[4 + (m * 5)]]
                }
            ]
        },
        options: {
            legend: { display: false },
            title: {
                display: true,
                text: 'Son 5 ölçümde Kullanılan CPU Yüzdesi'
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>
<script>
    var drive = "drive_@item.Server_name[m]";
    new Chart(document.getElementById(drive), {
        type: 'line',
        data: {
            labels: [1,2,3,4,5],
            datasets: [
                {
                label: "Kullanılabilir Harddisk Alanı  (GB)",
                    backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
                    data: [@item.Drive_y[0 + (m * 5)],@item.Drive_y[1 + (m * 5)], @item.Drive_y[2 + (m * 5)], @item.Drive_y[3 + (m * 5)], @item.Drive_y[4+(m*5)]]
                }
            ]
        },
        options: {
            legend: { display: false },
            title: {
                display: true,
                text: 'Son 5 ölçümde Kullanılabilir Disk Alanı'
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>
        ++m;
    }
}