﻿@model ServerControlWeb.Controllers.Servertablo

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Id")
        </th>
        <th>
            @Html.DisplayName("Kullanım(%)")
        </th>
        <th>
            @Html.DisplayName("Tarih")
        </th>
        <th>
            @Html.DisplayName("Sunucu")
        </th>
    </tr>
@for (int i = 0; i < Model.cpu.Count(); ++i)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.cpu[i].CpuId)
            </td>
            <td>
                @{
                  string cpuUtility = double.Parse(Model.cpu[i].CpuUtility).ToString("n2");
                }
                @Html.DisplayName(cpuUtility)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.cpu[i].CpuDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.cpu[i].CpuServerName)
            </td>
        </tr>
}

</table>
